{% extends "blog/base.html" %}
{% load crispy_forms_tags %} <!-- 加载django-crispy-forms库中的标签 -->
{% block content %}
    <<div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- enctype="multipart/form-data"指定了表单数据在传输时使用的MIME编码类型，主要用于上传文件或传递二进制数据 -->
      <form method="POST" enctype="multipart/form-data">
        <!--
            csrf_token（跨站请求伪造令牌）是一种重要的安全机制，用于防止恶意网站对其他网站的未授权操作
            在任何使用POST表单的模板中，如果表单是针对内部URL的，请在<form>元素中使用csrf_token标签
        -->
        {% csrf_token %}
        <!--
            fieldset: 对表单进行分组
            legend: 说明每组的内容描述
        -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">个人资料信息</legend>
            <!-- |crispy将form对象渲染为一个美观的表单，其中包含各种样式和布局 -->
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">更新</button>
        </div>
      </form>
    </div>
{% endblock content %}